<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Set the base for rewriting
    RewriteBase /smart-music-mw/
    
    # Skip rewriting for actual files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite everything to public/index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
